<div class="px-sm-2 px-0 bg-dark">
  <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white vh-100">
    <a routerLinkActive="true" [routerLink]="'/'"
      class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <span class="fs-5 d-sm-inline">BibSys</span>
    </a>
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
      <li class="nav-item">
        <a routerLinkActive="true" [routerLink]="'/alunos'" class="nav-link align-middle px-0">
          <fa-icon [icon]="faUser"></fa-icon>
          <span class="ms-1 d-none d-sm-inline">Alunos</span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="true" [routerLink]="'/livros'" class="nav-link align-middle px-0">
          <fa-icon [icon]="faBook"></fa-icon>
          <span class="ms-1 d-none d-sm-inline">Livros</span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="true" [routerLink]="'/emprestimos'" class="nav-link align-middle px-0">
          <fa-icon [icon]="faStackExchange"></fa-icon>
          <span class="ms-1 d-none d-sm-inline">Empréstimos</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link align-middle px-0 pointer" (click)="deslogar()">
          <fa-icon [icon]="faPowerOff"></fa-icon>
          <span class="ms-1 d-none d-sm-inline">Sair</span>
        </a>
      </li>
    </ul>
    <hr>
  </div>
</div>