body {
  max-width: 100vw;
  overflow-x: hidden;
}

.pointer {
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-pointer:hover {
  background: #dddddd;
}

.float-right {
  float: right;
}

.title {
  margin: 2rem 0rem 0rem 1rem;
}

.mr {
  margin-right: 1rem;
}